In [1]:
from sklearn.linear_model import LinearRegression

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('https://raw.githubusercontent.com/zekelabs/machine-learning-for-beginners/master/data/house_rental_data.csv', index_col='Unnamed: 0')

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
trainX,testX,trainY,testY = train_test_split(data.drop('Price',axis=1), data.Price)

In [7]:
lr = LinearRegression(fit_intercept=True)

In [8]:
lr.fit(trainX,trainY)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [9]:
from sklearn.metrics import mean_absolute_error

In [10]:
pred = lr.predict(testX)

In [11]:
mean_absolute_error(y_pred=pred, y_true=testY)

14944.433512209534

In [12]:
lr.coef_

array([   41.58770364,  1015.11303191,   112.77079719, -2693.0414764 ,
       -3706.40247949,  2029.46034306])

In [13]:
lr.intercept_

1977.7544547837679

In [14]:
data.corr()

,Sqft,Floor,TotalFloor,Bedroom,Living.Room,Bathroom,Price
Sqft,1.000000,0.143249,0.304515,0.615608,0.455940,0.728869,0.825514
Floor,0.143249,1.000000,0.564221,0.023986,-0.023563,0.099772,0.244553
TotalFloor,0.304515,0.564221,1.000000,0.067298,0.029373,0.146132,0.333631
Bedroom,0.615608,0.023986,0.067298,1.000000,0.526532,0.643083,0.467059
Living.Room,0.455940,-0.023563,0.029373,0.526532,1.000000,0.546826,0.328788
Bathroom,0.728869,0.099772,0.146132,0.643083,0.546826,1.000000,0.605542
Price,0.825514,0.244553,0.333631,0.467059,0.328788,0.605542,1.000000