In [8]:
try:
    l = [10,20,30,40]
    print(l[50])
    print(10 / 0)
    print("Hello")
except:
    print("You can not divide be zero")

    
    print(10 * 5 )

You can not divide be zero
50

In [20]:
class ValueLessThan50(Exception):
    pass

num1 = 10

try :
    print(10/0)
    if num1 < 50:
        raise ValueLessThan50("Value is too less")  
        
#     l = [10,20,30]
#     print(l[10])
#     print(a)
#     print(10 /0)
except ZeroDivisionError as e:
    print("You can not divide by zero",e)
except NameError:
    print("Variable no defined")
except ValueLessThan50 as e:
    print("Value should be greater than 50",e)
except:
    print("Runtime error")
    
print("Statement after except block")

You can not divide by zero division by zero
Statement after except block

In [21]:
print(10 / 0)

ZeroDivisionError: division by zero

In [22]:
help(ZeroDivisionError)

Help on class ZeroDivisionError in module builtins:

class ZeroDivisionError(ArithmeticError)
 |  Second argument to a division or modulo operation was zero.
 |
 |  Method resolution order:
 |      ZeroDivisionError
 |      ArithmeticError
 |      Exception
 |      BaseException
 |      object
 |
 |  Methods defined here:
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from BaseException:
 |
 |  __delattr__(self, name, /)
 |      Implement delattr(self, name).
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __reduce__(...)
 |      helper for pickle
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setattr__(self, name, value, /)
 |      Implement setattr(self, name, value).
 |
 |  __setstate__(...)
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  with_traceback(...)
 |      Exception.with_traceback(tb) --
 |      set self.__traceback__ to tb and return self.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from BaseException:
 |
 |  __cause__
 |      exception cause
 |
 |  __context__
 |      exception context
 |
 |  __dict__
 |
 |  __suppress_context__
 |
 |  __traceback__
 |
 |  args

In [31]:
num1 = 100
num2 = 200

try:
    assert(num1 == num2)
except AssertionError as e:
    print("Values are not equal",e)
finally:
    print("This will always get executed")

Values are not equal
This will always get executed

In [35]:
def add(val1,val2):
    try:
        return val1 + val2
    except TypeError:
        return str(val1)+str(val2)

# print(add(10,20))
# print(add("Hi","Python")
add("Hi",10)

'Hi10'

In [44]:
import sqlite3

# cx_oracle : dsn , username password 

# pymysql  db ="",user="", password=""   
    
conn = sqlite3.connect("db1.db")
cursor = conn.cursor()

cursor.execute("""CREATE TABLE IF NOT EXISTS EMP (
ID INT PRIMARY KEY,
NAME TEXT,
EMAIL TEXT,
SALARY REAL) 
""")

In [52]:
try :
    cursor.execute("INSERT INTO EMP (ID,NAME,EMAIL,SALARY) VALUES(101,'ABC','ABC@XYZ.COM',45000)")
except sqlite3.IntegrityError:
    pass

id = 102
name = 'PQR'
email = 'pqr@xyz.com'
sal = 65000
try:
    cursor.execute("INSERT INTO EMP (ID,NAME,EMAIL,SALARY) VALUES(?,?,?,?)",(id,name,email,sal))
    
except sqlite3.IntegrityError:
    pass
cursor.execute("COMMIT")

In [60]:
cursor.execute("SELECT * FROM EMP")
# print(next(cursor))
# print(next(cursor))

# for row in cursor:
#     print(row)

print(cursor.fetchall())

[(101, 'ABC', 'ABC@XYZ.COM', 45000.0), (102, 'PQR', 'pqr@xyz.com', 65000.0)]

In [62]:
cursor.execute("""UPDATE EMP SET EMAIL = 'RST@XYZ.COM' WHERE ID = 102""")
cursor.execute("COMMIT")

In [63]:
cursor.execute("SELECT * FROM EMP WHERE ID = ?",(102,))
print(next(cursor))

(102, 'PQR', 'RST@XYZ.COM', 65000.0)

In [64]:
cursor.execute("DELETE FROM EMP WHERE ID = 101")
cursor.execute("COMMIT")

In [65]:
cursor.execute("SELECT * FROM EMP")
print(cursor.fetchall())

[(102, 'PQR', 'RST@XYZ.COM', 65000.0)]

In [ ]:
conn.close()

In [66]:
from pymongo import MongoClient

In [80]:
connection = MongoClient("localhost",27017)
db = connection.sample
collection = db.employee

In [76]:
# collection.insert_one({'id':101,'name':'kunal','email':'kunal@xyz.com'})

In [82]:
collection.insert_many([
    {'id':104,'name':'XYZ','email':'kunal@xyz.com'},
    {'id':105,'name':'ESR','email':'kunal@xyz.com','contact':"789456134"},
    {'id':106,'name':'POI','email':'kunal@xyz.com'}
])

In [ ]:
# 14.143.124.134

In [83]:
g = collection.find()
for row in g:
    print(row)

{'_id': ObjectId('5b7dc5f9ad3de238583683c1'), 'id': 101, 'name': 'ABC', 'email': 'abc@abc.com'}
{'_id': ObjectId('5b7dc761ad3de238583683c2'), 'id': 102, 'name': 'PQR', 'email': 'pqr@xyz.com'}
{'_id': ObjectId('5b7e56f8ad3de22e9ce6f87e'), 'id': 101, 'name': 'kunal', 'email': 'kunal@xyz.com'}
{'_id': ObjectId('5b7e60b3ad3de22e9ce6f884'), 'id': 104, 'name': 'XYZ', 'email': 'kunal@xyz.com'}
{'_id': ObjectId('5b7e60b3ad3de22e9ce6f885'), 'id': 105, 'name': 'ESR', 'email': 'kunal@xyz.com', 'contact': '789456134'}
{'_id': ObjectId('5b7e60b3ad3de22e9ce6f886'), 'id': 106, 'name': 'POI', 'email': 'kunal@xyz.com'}

In [90]:
g = collection.find_one({'id':106})
print(g)

{'_id': ObjectId('5b7e60b3ad3de22e9ce6f886'), 'id': 106, 'name': 'POI', 'email': 'kunal@xyz.com'}

In [93]:
collection.update_one({'id':101},{'$set':{'name':'AZQ'}})
g = collection.find({'id':101})
print(next(g))
print(next(g))

{'_id': ObjectId('5b7dc5f9ad3de238583683c1'), 'id': 101, 'name': 'AZQ', 'email': 'abc@abc.com'}
{'_id': ObjectId('5b7e56f8ad3de22e9ce6f87e'), 'id': 101, 'name': 'kunal', 'email': 'kunal@xyz.com'}

In [96]:
collection.delete_one({"id":102})
g = collection.find()
for row in g:
    print(row)

{'_id': ObjectId('5b7dc5f9ad3de238583683c1'), 'id': 101, 'name': 'AZQ', 'email': 'abc@abc.com'}
{'_id': ObjectId('5b7e56f8ad3de22e9ce6f87e'), 'id': 101, 'name': 'kunal', 'email': 'kunal@xyz.com'}
{'_id': ObjectId('5b7e60b3ad3de22e9ce6f884'), 'id': 104, 'name': 'XYZ', 'email': 'kunal@xyz.com'}
{'_id': ObjectId('5b7e60b3ad3de22e9ce6f885'), 'id': 105, 'name': 'ESR', 'email': 'kunal@xyz.com', 'contact': '789456134'}
{'_id': ObjectId('5b7e60b3ad3de22e9ce6f886'), 'id': 106, 'name': 'POI', 'email': 'kunal@xyz.com'}