In [ ]:
num1 = 257
num2 = 257
print(num1 == num2)
print(num1 is not num2)
print(id(num1),id(num2))

Mutable :
    list 
    dict
    set 
    
Immutable  :
    tuple 
    int 
    float 
    bool

In [ ]:
l1 = [10,20,30]
l2 = [10,20,30]
print(id(l1),id(l2))

In [ ]:
d = {10:100,20:400,30:500}
print( 100 in d)

In [ ]:
l = [10,20,30,40,50]
print(20 in l)

In [ ]:
print(10 in 100)

In [ ]:
Iterable :
    str 
    list 
    dict 
    tuple 
    set 
Not iterable :
    int 
    float 
    bool

In [ ]:
num1 = 600
num2 = 400

if num1 > num2 :
    print("num1 is greater")
    print("Just another statement")
elif num2 > num1 :
    print("num2 is greater")
else:
    print("Both are equal")

In [ ]:
if "Hi":
    print("Python")
else:
    print("Java")

In [ ]:
l = [10,20,30,40,50,60]
key = 40

for value in l:
    if value == key :
        print("Element is present")
        break
   
else:
    print("Element not present")

In [ ]:
num1 = 29 
sum = 0
for value in range(1,num1):
    if num1 % value == 0:
        sum = sum + value
        
if sum == num1:
    print("Perfect number")
else:
    print("Not a perfect number")

In [ ]:
l = [70,60,50,40,30,20,10]
count =0
while(count <= len(l)):
    for index,value in enumerate(l[:-1]):
        if l[index] > l[index + 1]:
            l[index],l[index+1] = l[index+1],l[index]
    count+=1
print(l)

In [ ]:
range(50): 0.... 49 
range(10,50) 10...49
range(10,50,5) 10 15 20 ...... 45

## Str:
> - immutable - no methods to add update and delete 
> - ordered indexing and slicing 
> - Iterable

In [ ]:
s = "Python sample string"
print(s[-1])
print(s[0:6])
print(s[7:])
print(s[0:7:-1])

In [ ]:
num1 = 300
num2 = 200

s = "value of num1 is {val1} and value of num2 is {val2}".format(val1=num1,val2=num2)
print(s)

In [ ]:
s = "Python"
print(id(s))
s = "java"
print(id(s))

In [ ]:
s = "Python,Java,C++,C"
l = s.split(" ")
print(l)
l2 = l[::-1]
print(l2)

s1 = (",").join(l2)
print(s1)

In [ ]:
s= "Python,Python,PythonJava,C,C"
print(s.find(""))
print(s.rfind("Python"))

In [ ]:
s = "****Python******"
print(s.strip("*"))

In [ ]:
dir(str)

In [ ]:
s= "Python sample string abcdef"

s1 = "abcd"
s2 ="1234"

d = {'a':"1",'d':"4"}
map = str.maketrans(d)
final = s.translate(map)
print(final)

In [ ]:
s = "Python3 and Python 3"
l = s.partition("and")
print(l)

## List 
> - Mutable add,update and delete
> - Ordered indexing and slicing 
> - Iterable

In [ ]:
s= "Python sample string"
for value in s:
    print(value)

In [ ]:
l = [10,20,30,40,50,60]
# l.append([70,60])
# print(l[-1][-1])
# l.extend(["Python"])
# print(l)

l.insert(2,200)
print(l)

In [ ]:
l = [[1,2,3],[4,5,6],[7,8,9]]
# l2 = [1,2,3,4,5,6,7,8,9]
l2 = []
# for value in l:
#      print(value)
#     for val1 in value:
#       l2.append(val1) 

# for value in l:
#     l2.extend(value)
# print(l2)

In [ ]:
# l2 = [[1,4,7],[2,5,8],[3,6,9]]
l = [[1,2,3],[4,5,6],[7,8,9]]
# 1 2 3 0 
# 4 5 6 0
# 7 8 9 0

# 1 2 3 1 
# 4 5 6 1
# 7 8 9 1

# 1 2 3 2 
# 4 5 6 2
# 7 8 9 2
l2 = []
for index in range(len(l[0])):
    l4 = []
    for value in l:
#         print(value[index])
        l4.append(value[index])
    l2.append(l4)    
print(l2)

In [ ]:
l = [10,20,30,40]
print(id(l))
l[2] = 100
print(l)
print(id(l))

In [ ]:
Delete : 
    pop
    remove 
    clear 
    del

In [ ]:
l = [10,20,30]
# r = l.pop(1)
# print(l,r)

l.remove(20)
print(l)

l.clear()
print(l)

del l
print(l)

In [ ]:
l1 = [10,20,30]
l2 = l1
l1.append(40)
print(l1,l2)
print(id(l1),id(l2))

In [ ]:
print(dir(list))

In [ ]:
l1 = [10,20,30,40,10,20,30]
l2 = [100,20,10,10,30,45,50]

# single sorted unique list 
l3 = l1 + l2 
l3.sort()
print(l3)

l4 = []

for value in l3:
    if value not in l4:
        l4.append(value)
print(l4)

In [ ]:
l = [10,20,30,40,50]
l2 = [value*value for value in l]
print(l2)

In [ ]:
c = ['absd','eerere','wewewe','wewewewe']
l = [len(value) for value in c]
print(l)

In [ ]:
l = [20,25,30,35,40,45,50,55]
l2 = [value for value in l if value %2 ==0 ]
print(l2)

In [ ]:
l = [12,14,15,13,25,30,35,40,55]

l2 = ["Even" if value%2 == 0 else "Odd" for value in l if value %5 == 0]
print(l2)

In [ ]:
l = [(val1,val2)for val1 in range(10,15) for val2 in range(100,105)]
print(l)

In [ ]:
l = [[1,2,3],[4,5,6],[7,8,9]]
l2 = [val2 for value in l for val2 in value]
print(l2)

In [ ]:
# l = [[1,2,3],[4,5,6],[7,8,9]]
# # l2 = [val2 for value in l for val2 in value]
# # l2 = [[value[index] for value in l] for index in range(len(l[0]))]
# l2 = [[value[1] for value in l] for index in range(len(l[0]))]
# print(l2)

## Tuple
> - Immutable no methods to add update and delete  
> - Ordered indexing and slicing

In [ ]:
t = (10,20,30,40)
print(type(t))

In [ ]:
l = [10,20,30,40,50]

for i,j in enumerate(l):
    print(i)

## Dict

> - Mutable - Add update and delete 
> - Unordered - No indexing and slicing 
> - All keys should be unique
> - All keys should be immutable

In [ ]:
d = {"name":"ABC","email":"abc@gmail.com","sal":55000}
# print(d['age'])
# print(d.get('age',-1))

print(d.setdefault("age",30))
print(d)

In [ ]:
# d = {'a':97.'b':98........'z':122}
# print(ord('a'))
# print(chr(97))


d = {}

for value in range(97,123):
    d.setdefault(chr(value),value)    
print(d)

In [ ]:
d ={chr(value): value  for value in range(97,123)}
print(d)

In [ ]:
l1 =[10,20,30,40,50,60,70,80]
l2 = [100,200,300,400,500,600]

for value in zip(l1,l2):
    print(value)

In [ ]:
# d = {(1,10):0,(11,20):0,(21:30):0.... (91,100):0}
l = [15,20,30,12,45,1]
d = {value:0 for value in zip(range(1,100,10),range(10,101,10))}
# print(d)
# for key in d:
    
for value in l:
    for key in d:
        if key[0] <= value and key[1] >= value:
            d[key] = d[key] + 1 
            
print(d)

In [ ]:
l1 = [1,2,3,4,5]
l2 = [1,4,9,16,25]
l3 = dict(zip(l1,l2))
print(l3)

In [ ]:
l = [10,20,30,40,50]
d = dict.fromkeys(l,20)
print(d)

Delete :
    popitem
    pop
    clear
    del

In [ ]:
# d = {10:1,20:4,30:9,40:16,50:25}
# r = d.pop(10)
# print(d,r)

# print(d.keys())
# print(d.values())
# print(d.items())

# r = d.popitem()
# print(d,r)


# d.clear()

# del d
# print(d)

In [ ]:
d = {"ABC":'5.0,4.2,5,3,3',"PQR":'4,4,5,5,3',"xyz":'2,2,2,2,2'}
d1 = {}
for key,value in d.items():
#     print(key,value)
    sum = 0
    l = value.split(",")
#     print(l)
    for num in l:
        sum = sum + float(num)
#     print(sum/len(l))
    d1.setdefault(key,sum/len(l))
print(d1)

## Set
> - Mutable - add update and delete
> - Unordered - no indexing and slicing 
> - All the elements should be unique
> - All elemnts should be immutable

In [ ]:
s = {10,20,30,40,10,20}
# s = set()
print((s))

In [ ]:
s1 = {10,20,30,40,50}
s2 = {30,40,50,60,70,80}

# s3 = s1.union(s2)
# print(s3)

# s1.update(s2)
# print(s1)

# s3 = s1.intersection(s2)
# print(s3)

# s1.intersection_update(s2)
# print(s1)

# s3 = s1.difference(s2)
# print(s3)

# s3 = s1.symmetric_difference(s2)
# print(s3)

In [ ]:
l1 = [10,20,30,40,10,20,30]
l2 = [10,20,35,45,10,20,30]
s1 = set(l1)
s2 = set(l2)
s3 = s1.union(s2)
print(s3)
l3 = sorted(s3)
print(l3)

In [1]:
def add(*args):
    return (sum(args))
result = add(10,20,30,40,50,60,40)
print(result)
# result = add(10,20,30,40)
# result = add(10,20,30,40,50,60)
# print(result)
# help(print)
# print(10,20,sep=",",end =" ")
# print("Hi")

250

# Parameter Passing techniques:
> 1. Positional args
> 2. Default argsb
> 3. Variable length Positional args
> 4. Keyword

In [3]:
def add(*args):
    l4 = []
    for index in range(len(args[0])):
        sum1 = 0
        for value in args:
            sum1 = sum1 +value[index]
        l4.append(sum1)
    return l4

l1 = [10,20,30,40,50]
l2 = [100,200,300,400,500]
l3 =[1,2,3,4,5]

l4 = add(l1,l2,l3)
print(l4)
l5 = add(l1,l2,l3,l4)
print(l5)

[111, 222, 333, 444, 555]
[222, 444, 666, 888, 1110]

In [12]:
def user_auth(num1,num2,*args,**kwargs):
    print(args,kwargs)
    if kwargs['username'] == "ABC" and kwargs['password'] == "ABC@123":
        print("Valid")
    else:
        print("Invalid")
# user_auth("ABC","ABC@123")
user_auth(10,20,password = "ABC@123",username = "ABC")

() {'password': 'ABC@123', 'username': 'ABC'}
Valid

In [13]:
def fact(num):
    if num == 1:
        return 1
    else : 
        return num * fact(num-1)

print(fact(5))

5 = return 5 * 24 = 120 
            return 4 * 6 =24
                return 3 * 2 =6
                    return 2 * 1 = 2
                                return 1

120

In [18]:
def binary_search(l,key):
    if len(l) == 0:
        return False
    else:
        mid = len(l) // 2
        if key == l[mid]:
            return True
        elif key < l[mid]:
            return binary_search(l[0:mid],key)
        else:
            return binary_search(l[mid+1:],key)

l = [10,20,30,40,50,60]
key = 500
print(binary_search(l,key))


# bs(l,key): 
#     bs(50,60)
#         bs(50)
#             return True


# mid = len / 2 
#     50 == 40 True
    
#     if key < mid 
#         l = [10,20,30] key = 50
#     key > mid
#         l = [50,60] key = 50
#         mid  = 60 60 == 50 
        
        
#         [50] = 50

False

In [90]:
import random
# print(random.random())
# l = [1,2,3,4,5,6]
# print(random.choice(l))

# print(random.randint(10,50))
# print(random.randrange(10,50,5))
# print(random.uniform(10,50))

# 8 Char default pass 
# 1 Uppercase 
# 1 lower 
# 1 special 
# 5 digits 

def gen_pass():
    upper = chr(random.randint(ord('A'),ord('Z')))
    lower = chr(random.randint(ord('a'),ord('z')))
    l1 = ['!','@','#','$','%']
    special = random.choice(l1)
    digits = str(random.randint(10000,99999))
    
    password = upper + lower + special + digits
    print(password)
    l2 = random.sample(password,8)
    print(l2)
    new_pass = ("").join(l2)
    
    return new_pass

print(gen_pass())

Bh!26072
['2', '2', '0', 'B', '!', 'h', '6', '7']
220B!h67

In [101]:
def fibo():
    first_num = 0
    sec_num = 1 
    yield sec_num
    
    while(True):
        next_val = first_num + sec_num
        yield next_val
        
        first_num,sec_num = sec_num,next_val
g = fibo()
# print(g)
print(next(g))
print(next(g))
print(next(g))
print(next(g))

for value in range(5):
    print(next(g))
    
f = fibo()
print(next(f))

1
1
2
3
5
8
13
21
34
1

In [105]:
def printVal(l):
    for value in l:
        yield value
    
l = [10,20,30,40,50]
g = printVal(l)
# print(next(g))
# print(next(g))
# print(next(g))
# print(next(g))
# print(next(g))
# print(next(g))

for value in g:
    print(value)

10
20
30
40
50

In [108]:
l = [10,20,30,40,50,60]
l2 = (value * value for value in l)
print(next(l2))

100

In [122]:
# def sqr(num):
#     return num * num

# l = [10,20,30,40,50]
# l2 = list(map(lambda num:num*num,l))
# print(l2)


# def add_index(num1,num2,num3):
#     print(num1,num2,num3)
#     return num1+num2+num3

l1 = [10,20,30,40,50]
l2 = [100,200,300,400,500]
l3 = [1,2,3,4,5]
l4 = list(map(lambda num1,num2,num3:num1+num2+num3,l1,l2,range(100,106)))
print(l4)

[210, 321, 432, 543, 654]

In [124]:
# def even(num):
#     if num%2 == 0:
#         return True
#     else:
#         return False

# l = [10,15,20,25,30,45,60]
# l2 = list(filter(lambda num:num%2==0,l))
# print(l2)

[10, 20, 30, 60]

In [120]:
def perfect(num):
    sum = 0
    for value in range(1,num):
        if num % value == 0:
            sum = sum + value
    if sum == num:
        return True
    else:
        return False
    
print(list(filter(perfect,range(1,101))))

[6, 28]

In [129]:
# def value(t):
#     return t[1]
# d = {100:50,200:40,400:30,300:20,500:10}
# l = sorted(d.items(),key=lambda t:t[1])
# print(l)

[(500, 10), (300, 20), (400, 30), (200, 40), (100, 50)]

In [131]:
c = "a"
f = lambda c: "Vowel" if c in 'aeiou' else "Consonent"
print(f(c))

Vowel